* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --main-color: #FF6450;
  --hover-color: #2764ba;
  --font-color: #818181;
  --box-color: white;
}
